[Unit]
Description=log2zram
After=local-fs.target
Before=reboot.target halt.target zram-swap-config.service zramdrive.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/log2zram start
ExecStop=/usr/local/bin/log2zram stop
TimeoutSec=240
RemainAfterExit=yes

[Install]
WantedBy=basic.target

