[Unit]
Description=log2zram
DefaultDependencies=no
Before=basic.target rsyslog.service syslog.target systemd-journald.service sysinit.target shutdown.target apache2.service zram-swap-config.service 
After=local-fs.target
Conflicts=shutdown.target reboot.target halt.target



[Service]
Type=oneshot
ExecStart= /usr/local/bin/log2zram/log2zram start
ExecStop= /usr/local/bin/log2zram/log2zram stop
TimeoutStartSec=120
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
